/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
  background-color: #fafafa;
  font-family: sans-serif;
}

.splash-button{
  background-color: #3897F0;
  color: #fafafa;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.splash-button:hover{
  cursor: pointer;
}

.session-form{
  margin: 10px;
}

.demo-user-button{
  background-color: green;
}

.logout-button{
  background-color: #fafafa;
  height: 50px;
  width: auto;
  margin-top: -1px;
  opacity: 0.75
}

.splash-on-site{
  width: 100vw;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-container{
  display: flex;
  align-content: center;
  justify-content: center;
}

.landing-image-column{
  flex: 50%;
  margin: 0 5px 0 0;
}

.form-column{
  display: flex;
  flex: auto;
  width: 350px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  color: darkgrey;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  margin: 0 0 0 5px;
}

.landing-image{
  max-width: 100%;
  height: auto;
}

@media (max-width: 850px) {
    .landing-image {
        display: none;
    }
    .form-column{
      display: flex;
      width: 100%;
      margin: 0px 250px 0px 125px;
    }
}

.pictogram-name-text{
  font-size: 60px;
  font-family: 'Bilbo Swash Caps', cursive;
  color: #000;
  position: relative;
  bottom: 20px;
  text-decoration: underline;
}

.pictogram-name-text-nav-bar{
  position: relative;
  top: 00px;
  font-size: 48px;
  font-family: 'Bilbo Swash Caps', cursive;
  color: #000;
  position: relative;
  bottom: 20px;
  text-decoration: underline;
  margin-left: 5px;
}

.splash-text{
  color: darkgrey;
  padding: 5px;
}

.login-input{
  width: 100%;
  margin: 5px;
}

.signup-input{
  width: 100%;
  margin: 3px;
}

footer{
  display: flex;
  bottom: 25px;
  justify-content: center;
}

.footer-links{
  text-decoration: none;
  color: #3897F0;
}

.errors{
  color: red;
  font-size: 12px;
  list-style-type: none;
}

.form-type-button{
  margin: 0 0px 0 17px;
  box-sizing: border-box;
  width: 93%;
  text-align: center;
}

.login-input{
  height: 36px;
  background-color: #fafafa;
  font-size: 16px;
  padding: 9px 0 7px 8px;
  box-sizing: border-box;
}

input:focus{
  outline: none;
}

button:focus{
  outline: none;
}

.signup-input{
  height: 36px;
  background-color: #fafafa;
  font-size: 16px;
  padding: 9px 0 7px 8px;
  box-sizing: border-box;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid darkgray;
  margin-bottom: 10px;
}

.user-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-page > img{
  height: auto;
  width: 100%;
}

.nav-bar-profile-pic {
    object-fit: cover;
    object-position: 100% 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px;
    opacity: 0.75;
}

.nav-bar-profile-pic:hover{
  cursor: pointer;
}

.test-image{
  max-width: 614px;
  max-height: 614px;
  object-fit: scale-down;
  display: flex;
  margin: 0 auto;
}

.feed-post-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}

.feed-post-pic-container{
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.user-profile{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-profile-top{
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-profile-top-picture{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
  object-position: 100% 0;
  margin-left: 5px;
}

.user-profile-top-card{
  display: inherit;
  flex-direction: column;
  margin-left: 50px;
}

.row{
  margin-top: 5px;
  margin-bottom: 5px;
}

.row1{
  display: inherit;
  justify-content: space-evenly;
}

.row2{
  display: inherit;
  justify-content: space-evenly;
}

.row3{

}

.nav-bar-buttons{
  display: inherit;
}

.nav-bar-search{
  align-self: center;
}

.nav-bar-upload-pic{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 5px;
}

.post-container{
  margin: 50px;
  background-color: white;
  border: 1px solid #e6e6e6;
}

.post-show-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-show-picture{
  height: 614px;
  width: auto;
}

.user-profile-feed-picture{
  width: 42px;
  height: 42px;
  border-radius: 100px;
  object-fit: cover;
  object-position: 100% 0;
  margin: 5px;
}

ul {
  list-style-type: none;
}